<html>
<title>
  <center><h1>Raffle</h1></center>
  </title>
  <body>
  <center>
    <p>Check your luck! You see boxes, each of which contains a number.</p>
    <p> Among them, is hidden the winning figure 5.</p>
    <p>Try to guess what box it is and puts its number.</p>
    <p>The boxes are numbered from 0 and up to <%= ((Figaro.env.count_box_board).to_i)-1 %>, from left to right.</p>
    <p>You can only enter those numbers.</p>
    <p>
    <h2>Good luck!!!</h2></p>

    <%= render 'table' %>
    <%= form_with model: @number, url: numbers_new_path, local: true do |form| %>

        <p>
          <%= form.label :number %><br>
          <%= form.text_field :numb %>
        </p>

        <p>
          <%= form.submit %>
        </p>
    <% end %>
  </center>
  </body>

</html>
